:root {
    --color1: #F47CAC;
    --color2: #007AAE;
    --color3: #00B6FF;
    --color4: #FF99C2;
    --color5: #FDF4E3;
    --color6: #b04d98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color1);
    font-family: Arial, sans-serif;
    color: var(--color5);
    line-height: 1.6;
}

header {
    background-color: var(--color2);
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color5);
    width: 100%;
}

header h1 {
    margin: 10px;
}

main {
    flex: 1;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: var(--color2);
    z-index: 1000;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    font-weight: bold;
    color: var(--color5);
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: var(--color4);
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fondoArticulo {
    background-color: var(--color6);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

article {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--color4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30em;
    color: var(--color5);
    transition: all 0.3s ease;
    text-align: center;
}

article a {
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
}

article:hover {
    background-color: var(--color2);
    text-decoration: underline;
    color: var(--color3);
    transform: scale(1.05);
}

h3 {
    color: var(--color5);
    font-weight: bold;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    color: var(--color5);
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.footer-icons {
    display: flex; /* Hace que los enlaces estén en línea */
    gap: 10px; /* Espacio entre los enlaces */
    margin-bottom: 10px; /* Separación de los iconos del texto */
}

footer a {
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--color4);
}

footer i {
    font-size: 24px;
}

footer img {
    display: block; /* Elimina los márgenes alrededor de la imagen */
    width: 50px;
    height: auto;
}

footer p {
    margin: 10px 0;
    line-height: 1.5;
}
